[Unit]
Description=GNOME Display Scale Resetter (to 125%)
After=graphical-session.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/jadoc/src/display-scale-reset/display-scale-reset.py --scale 1.25
Restart=on-failure
RestartSec=5
Type=simple

[Install]
WantedBy=graphical-session.target
